:root[data-theme="light"] {
    --logo: url('./components/img/Logo-lg.svg') center no-repeat;
    --icon-one: url('./components/img/ico-one-lg.svg') center no-repeat;
    --icon-two: url('./components/img/ico-two-lg.svg') center no-repeat;
    --icon-three: url('./components/img/ico-three-lg.svg') center no-repeat;
    --icon-theme: url('./components/img/moon.svg') center no-repeat;
    --icon-buy: url('./components/img/buy-ico-lg.svg') center no-repeat;
    --icon-garant: url('./components/img/Garant-lg.svg') center no-repeat;
    --icon-shield: url('./components/img/Shield-lg.svg') center no-repeat;
    --icon-support: url('./components/img/Support-lg.svg') center no-repeat;
    --svg-center-info-block: url('./components/img/svg-center-info-block-lg.svg') center no-repeat;
    --svg-company: url('./components/img/company-img-lg.svg') center no-repeat;
    --svg-monitoring: url('./components/img/Monitoring-img-lg.svg') center no-repeat;
    --svg-vps: url('./components/img/VPS-img-lg.svg') center no-repeat;
    --svg-vds: url('./components/img/VDS-img-lg.svg') center no-repeat;
    --svg-vpn: url('./components/img/VPN-img-lg.svg') center no-repeat;
    --svg-domain: url('./components/img/Domain-img-lg.svg') center no-repeat;
    --svg-cloud-panel: url('./components/img/Cloud-Panel-img-lg.svg') center no-repeat;
    --svg-bulletproof: url('./components/img/bulletproof-img-lg.svg') center no-repeat;
    --svg-referal: url('./components/img/referal-img-lg.svg') center no-repeat;


    --bg-color: #EFEFEF !important;
    --bg-color-navbar: #efefef53 !important;
    --bg-color-dropdown: #ffffffe7 !important;
    --bg-color-dropdown-hover: ##ffffffe7 !important;
    --bg-color-input: #D9D9D9 !important;
    --bg-color-service: #ffffff !important;
    --bg-color-profile: #DBDBDB !important;
    --bg-color-prof-block: #ffffff !important;
    --bg-color-prof-block-content: #E1E1E1 !important;
    --scrollbar-color: #fff !important;
    --white-block: #FFFFFF !important;
    --green-block: #55B45C !important;
    --btn-join-color: #353535 !important;
    --content-block: #ffffff !important;
    --content-block-service: #e2e2e2 !important;
    --content-3-block-right: #E2E2E2 !important;
    --content-3-block-left: #DCDBDB !important;
    --content-miniblocks-type-one: #FFFFFF !important;
    --content-miniblocks-type-two: #353535 !important;
    --buy-block: #FFFFFF !important;
    --footer-line: #79797952 !important;

    --navbar-text: #353535 !important;
    --h1-text-color: #55B45C !important;
    --h2-text-color: #353535 !important;
    --text-color: #969696 !important;
    --red-text-color: #D94141 !important;
    --button-text-color: #FFFFFF !important;
    --input-text-color: #303030 !important;
    --price-text-color: #787878 !important;
    --placeholder-color: #606060 !important;

    --box-shadow: 12px 32px 80px -20px rgba(0, 0, 0, 0.12);
    --box-shadow-inset: None;
    --opacity-sun: 1;
    --opacity-moon: 0;
    --filter-dropdown: brightness(80%);
    --filter-dropdown-text: brightness(100%);
    --filter-btn-close: none;
}

:root[data-theme="dark"] {
    --logo: url('./components/img/Logo-dr.svg') center no-repeat;
    --icon-one: url('./components/img/ico-one-dr.svg') center no-repeat;
    --icon-two: url('./components/img/ico-two-dr.svg') center no-repeat;
    --icon-three: url('./components/img/ico-three-dr.svg') center no-repeat;
    --icon-theme: url('./components/img/sun.svg') center no-repeat;
    --icon-buy: url('./components/img/buy-ico-dr.svg') center no-repeat;
    --icon-garant: url('./components/img/Garant-dr.svg') center no-repeat;
    --icon-shield: url('./components/img/Shield-dr.svg') center no-repeat;
    --icon-support: url('./components/img/Support-dr.svg') center no-repeat;
    --svg-center-info-block: url('./components/img/svg-center-info-block-dr.svg') center no-repeat;
    --svg-company: url('./components/img/company-img-dr.svg') center no-repeat;
    --svg-monitoring: url('./components/img/Monitoring-img-dr.svg') center no-repeat;
    --svg-vps: url('./components/img/VPS-img-dr.svg') center no-repeat;
    --svg-vds: url('./components/img/VDS-img-dr.svg') center no-repeat;
    --svg-vpn: url('./components/img/VPN-img-dr.svg') center no-repeat;
    --svg-domain: url('./components/img/Domain-img-dr.svg') center no-repeat;
    --svg-cloud-panel: url('./components/img/Cloud-Panel-img-dr.svg') center no-repeat;
    --svg-bulletproof: url('./components/img/bulletproof-img-dr.svg') center no-repeat;
    --svg-referal: url('./components/img/referal-img-dr.svg') center no-repeat;

    --bg-color: #1A1A1A !important;
    --bg-color-navbar: #1a1a1a3d !important;
    --bg-color-dropdown: #0e0e0ee4 !important;
    --bg-color-dropdown-hover: #000000d1 !important;
    --bg-color-input: #1e1e1e !important;
    --bg-color-service: #4a4a4a !important;
    --bg-color-profile: #272727 !important;
    --bg-color-prof-block: #2A2A2A !important;
    --bg-color-prof-block-content: #383838 !important;
    --scrollbar-color: #000 !important;
    --white-block: #D9D9D9 !important;
    --green-block: #1ABB8F !important;
    --btn-join-color: #D9D9D9 !important;
    --content-block: #505050 !important;
    --content-block-service: #6f6f6f !important;
    --content-3-block-right: #797979 !important;
    --content-3-block-left: #4A4A4A !important;
    --content-miniblocks-type-one: #D9D9D9 !important;
    --content-miniblocks-type-two: #0E0E0E !important;
    --buy-block: #0E0E0E !important;
    --footer-line: #c9c9c958 !important;

    --navbar-text: #FFFFFF !important;
    --h1-text-color: #1ABB8F !important;
    --h2-text-color: #FFFFFF !important;
    --text-color: #969696 !important;
    --red-text-color: #D94141 !important;
    --button-text-color: #000000 !important;
    --input-text-color: #ffffff !important;
    --price-text-color: #787878 !important;
    --placeholder-color: #606060!important;

    --box-shadow: none;
    --box-shadow-inset: 0px 0px 15px 0px rgba(0, 0, 0, 0.25) inset;
    --opacity-sun: 0;
    --opacity-moon: 1;
    --filter-dropdown: brightness(150%);
    --filter-dropdown-text: brightness(1000%);
    --filter-btn-close: brightness(0) invert(1);
}

body {
    width: 100vw;
    margin: 0 auto;
    padding: 1vw 2.5vw;
  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
    background-color: var(--bg-color) !important;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  ::-webkit-scrollbar {
    width: 0.35vw;
  }
  
  ::-webkit-scrollbar-track {
    border-radius: 0.5vw;
    background: var(--bg-color);
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-color);
    border-radius: 20px;
  }
  